<div ng-init="root.isHomePage = false" class="views" >
    <div class="view view-main" ng-init="getMyTasks()" data-page="cards">
        <div  ng-init="getAccountInfo()" class="pages navbar-fixed">
            <div  data-page="index" class="page  page-on-left">
                <header class="site-header  " ng-include="'views/templates/appHeader.html?i=123'"></header>

<div ng-if="!getAccountInfoDone" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>


                <div ng-if="getAccountInfoDone" class="page-content " style="background-image: none !important; background-color: #0083b8">
                    <div id="scrollable" class="list-block" style=" margin-top: 10px;">
                    <br>

<div ng-if="tasks == '' "  > 

<h4  style="text-align: center; color: #fff; line-height: 25px; font-weight: 700; margin-top: 0px;margin-bottom: 10px;font-size: 16px;">
 {{ _('code126') }}
</h4>
</div>


                                <div class="swiper-slide" ng-repeat="n in tasks"  >


                                    <table  style="  width: 95%;
       border: 1px #003160 solid;
    margin: 0 auto;
    position: relative;
    top: -18px;
    border-collapse: collapse;
    text-align: center;
    color: #fff; box-shadow: 1px -1px 37px #47c0e4;
    margin-bottom: 25px;
    background-color: #daeef1;">
                                       

                                   
<tr><td style="background-image: url('images/s1.png'); background-position: center; background-size: cover; height: 26px; ">

                                                <div class="row" >
                                                    <div class="col-50" style="font-size: 15px;"><b> {{_('code03')}}  {{ n.activity_start_date}} </b></div>
                                                    <div class="col-50" style="font-size: 15px;"> <b> {{_('code04')}}  {{ n.activity_end_date}} </b></div>
                                                </div>

  <tr >
  <td ng-if="$root.currentLang == 'ar' " style="background-image: url('images/s2.png'); text-shadow: 1px 1px #333; font-size: 13px; background-size: cover; height: 26px; " ><b>{{ n.activity_time_ar}}</b></td>

  <td ng-if="$root.currentLang == 'en' " style="background-image: url('images/s2.png'); text-shadow: 1px 1px #333; font-size: 13px; background-size: cover; height: 26px; " ><b>{{ n.activity_time_en }}</b></td>

  </tr>





                                            </td></tr>
                                                 <tr><td style="height: 26px; text-shadow: 1px 1px #333; position: relative; top: -14px; font-size: 14px;" ><b>
                                                    <br>
                                                    <br ng-if="$root.selectedID == 0 || admin_approval == 2 || security_approval == 2">
                                                    
                                                    <div ng-if="$root.currentLang == 'ar' " style="width: 95%; color: #003160; text-shadow:none; margin: 0 auto;" >
                                                    {{ n.activity_name_ar}}</b></div>

                                                    <div ng-if="$root.currentLang == 'en' " style="width: 95%; font-weight: 700; font-family: verdana; font-size: 14px; margin-bottom: 40px; color: #003160; text-shadow:none; margin: 0 auto;" >
                                                    {{ n.activity_name_en}}<br> </div>

                                            </td></tr>

                                              <tr ng-if="$root.selectedID > 0 && admin_approval == 1 && security_approval == 1" ><td style="height: 46px; width: 50%; color: #336699 " > 
                                                 <br>
                                     <div class="joinNow" > <a href="#/join/{{ n.activity_id }}"  >
                                                    {{_('code08')}} </a></div>

                                                    <br>
                      <div ng-if="n.leaderID == $root.selectedID" class="joinNow" > <a href="#/team/{{ n.activity_id }}"  >
                                                    {{_('code128')}} </a></div>

                                         </td></tr>

                                        
                                      
                                   

                                    

                                    </table>

                           




                        </div>






                    </div>
                </div>



            </div>

        </div>


        <div  class="toolbar " style="height: 55px;"   ng-include="'views/templates/appFooter.html?i=123'"></div>



    </div>