<div id="plupload_container">
    <div id="modalmsg">

    </div>
    <div ng-if="showProgress">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="alert {{messagecss}} alert-dismissible" role="alert" ng-if="message != ''" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{message}}</strong>
    </div>
    <div  >
        <br>
        <div  ng-repeat="item in emiratesIDsSelectedFiles"  >
            <div ng-if="item.percent == 100">
                Selected file uploaded...
            </div>
            <div ng-if="item.percent < 100">
                File: {{item.name}}
                <div class="progress">
                    <div class="progress-bar {{item.css}} " role="progressbar" aria-valuenow="{{item.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.percent}}%">
                        <span class="sr-only">{{item.percent}}% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  style=" width: 100%; ">
        <a  id="pickfiles" style="  width: 98%;  font-size: 16px; margin: 0 auto; " title="Upload Files" href class="btn btn-info btn-sm">
        <span ng-if="$root.currentLang=='ar'">  إلمس لتحميل صورة الهوية </span>
        <span ng-if="$root.currentLang=='en'">  Tap to upload Emirates ID </span>

           </a>

        <a ng-if="emiratesIDsSelectedFiles.length > 0 && !startUploading " id="uploadfiles" class="btn btn-danger btn-sm" href="#">
        <span ng-if="$root.currentLang=='ar'">   تحميل الصور المختارة  </span>
        <span ng-if="$root.currentLang=='en'"> Upload Selected Photos </span>


         </a>



    </div>
    <br><br>
</div>

